.scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #4273b4;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
 
    
}
.top-arrow{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   

}